<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org/DTD Config 3.0/EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <!-- 設定1: NULL値とJDBC型のマッピング設定 -->
    <setting name="jdbcTypeForNull" value="NULL" />
    <!-- 設定2: mapUnderscoreToCamelCase -->
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>
</configuration>
 